puq {
    bindings = <
        &to 1          &kp F2          &kp F3      &kp F4      &kp F5                                                                                                     &kp F6       &kp F7       &kp F8      &kp F9         &kp F10
        &kp EQUAL      &kp N1          &kp N2      &kp LEFT    &kp RIGHT       &kp N5                                                                     &kp HOME        &kp UP       &kp DOWN     &kp END      &kp N0         &kp MINUS
        &kp TAB        &kp P           &kp U       &magic      &kp COMMA       &kp Q                                                                      &kp G           &kp C        &hmr RALT L  &kp M        &kp F          &kp SLASH
        &kp ESC        &hml LSFT H     &hml LCTL I &hml LALT E &hml LGUI A     &hml HYPER O                                                               &hmr HYPER D    &hmr LGUI T  &hmr LALT R  &hmr RCTL N  &hmr RSFT S    &kp SQT
        &kp GRAVE      &kp K           &kp Y       &kp DOT     &hml MEH  SQT   &kp X   &kp LCTRL   &kp LALT    &kp LGUI  &kp LGUI  &kp RALT  &kp RCTRL    &kp J           &hmr MEH V   &kp W        &kp B        &kp Z          &kp PG_UP
        &mo MAGIC      &kp HOME        &kp END     &kp LEFT    &kp RIGHT               &kp SPACE   NAV_L       &kp LGUI  &num_word SYM_L  &skq LSFT                        &kp UP       &kp DOWN     &kp LBKT    &kp RBKT       &mo MAGIC
    >;
};
