/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */


//
// Glove80 key positions index for positional hold-tap
// - https://discord.com/channels/877392805654306816/937645688244826154/1066713913351221248
// - https://media.discordapp.net/attachments/937645688244826154/1066713913133121556/image.png
//
// |------------------------|------------------------|
// | LEFT_HAND_KEYS         |        RIGHT_HAND_KEYS |
// |                        |                        |
// |  0  1  2  3  4         |          5  6  7  8  9 |
// | 10 11 12 13 14 15      |      16 17 18 19 20 21 |
// | 22 23 24 25 26 27      |      28 29 30 31 32 33 |
// | 34 35 36 37 38 39      |      40 41 42 43 44 45 |
// | 46 47 48 49 50 51      |      58 59 60 61 62 63 |
// | 64 65 66 67 68         |         75 76 77 78 79 |
// |                69 52   |   57 74                |
// |                 70 53  |  56 73                 |
// |                  71 54 | 55 72                  |
// |------------------------|------------------------|
//
#define LEFT_HAND_KEYS    0  1  2  3  4 10 11 12 13 14 15 22 23 24 25 26 27 34 35 36 37 38 39 46 47 48 49 50 51 64 65 66 67 68
#define RIGHT_HAND_KEYS   5  6  7  8  9 16 17 18 19 20 21 28 29 30 31 32 33 40 41 42 43 44 45 58 59 60 61 62 63 75 76 77 78 79
// Right hands but NOT the magic key! ;)
#define RIGHT_HAND_KEYS_M 5  6  7  8  9 16 17 18 19 20 21 28 30 31 32 33 40 41 42 43 44 45 58 59 60 61 62 63 75 76 77 78 79
#define THUMB_KEYS 69 52 57 74 70 53 56 73 71 54   55 72

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#include <behaviors/num_word.dtsi>

#define my_tapping_term 380
#define my_quick_tapping_term 112
#define umlaut_tapping_term 150
#define my_ak_delay 40

&sl {  // sticky-layer config
    ignore-modifiers;          // allow chording sticky mods & layers
};

// layers
#define DEFAULT     0
#define NAVI        1
#define SYMBOLS     2
#define NUMBERS     3
#define MAGIC       4

// modifiers
#define HYPER LC(LS(LG(LALT)))
#define MEH LS(LC(LALT))

// special chars
#define U_UML &lk_U_umlaut 0 U
#define A_UML &lk_A_umlaut 0 A
#define O_UML &lk_O_umlaut 0 O

// special keys
// I will never like this dsl! Why do I have to pass arguments where no arguments are used!?
#define Arrows arrows 0 0

// less thumbs
#define SYM_L &msl SYMBOLS SYMBOLS
#define NAV_L &msl NAVI NAVI
#define NAV_SPACE &lt NAVI SPACE
#define NAV_R &lt NAVI R

/ {

    #include "combos.dtsi"

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <SYMBOLS NAVI>;
            then-layer = <NUMBERS>;
        };
    };

    #include "macros.dtsi"    
    #include "behaviors.dtsi"

    keymap {
        compatible = "zmk,keymap";
        #include "layers/magic_sturdy.dtsi"
        #include "layers/navigation.dtsi"
        #include "layers/symbols.dtsi"    
        #include "layers/numword.dtsi"        
        magic_layer {
            bindings = <
            &bt BT_CLR        &none               &none           &none           &none                                                                                                           &none      &none      &none      &none      &none
            &none             &none               &none           &none           &none           &none                                                                                &none      &none      &none      &none      &none      &none
            &none             &rgb_ug RGB_SPI     &rgb_ug RGB_SAI &rgb_ug RGB_HUI &rgb_ug RGB_BRI &rgb_ug RGB_TOG                                                                      &none      &none      &none      &none      &none      &none
            &bootloader       &rgb_ug RGB_SPD     &rgb_ug RGB_SAD &rgb_ug RGB_HUD &rgb_ug RGB_BRD &rgb_ug RGB_EFF                                                                      &none      &none      &none      &none      &none      &bootloader
            &sys_reset        &none               &none           &none           &none           &none           &bt_2     &bt_3     &none            &none     &none     &none       &none      &none      &none      &none      &none      &sys_reset
            &none             &none               &none           &none           &none                           &bt_0     &bt_1     &out OUT_USB     &none     &none     &none                  &none      &none      &none      &none      &none
            >;
        };
    };
};
